.white-box{
    display: flex;
    height: 60vh;
    width: 50vw;
    border-radius: 50px;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
}